<h2>投稿確認画面</h2>
<h3>以下の内容で、送信します。</h3>

<%= form_with(model: @contact, url: contacts_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :email %>
  <%= form.hidden_field :content %>

  <p>Name:<%= @contact.name %></p>
  <p>Email:<%= @contact.email %></p>
  <p>Content:<%= @contact.content %></p>
  <%= form.submit  "登録する" %>
<% end %>