<h1>編集画面</h1>
<%= form_with(model: @contact, local:true) do |form|%>
  <div>
    <%=form.label:name %>
  </div>
  <div>
    <%=form.text_field:name%>
  </div>
  <div>
    <%=form.label:email %>
  </div>
  <div>
    <%=form.text_field:email%>
  </div>
  <div>
    <%=form.label:content %>
  </div>
  <div>
    <%=form.text_field:content%>
  </div>
  <%= form.submit '編集する'%>
<%end%>

  <%= link_to("一覧画面へ",contacts_path)%>
